<section class="container">
  <h1>Rotations</h1>

  <div class="previews-container">
    <div *ngFor="let rotation of this.repo.rotations$() | async" class="rotation-preview">
      <div class="preview-header">
        <h2 [title]="rotation.name">{{ rotation.name }}</h2>
        <div class="rotation-action-buttons">
          <button (click)="this.game.setRotation(rotation)">Practise</button>
          <button>Edit</button>
          <button (click)="this.repo.removeRotation(rotation)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>

      <div class="preview-actions">
        <img *ngFor="let action of [1, 2, 3, 4, 5, 6]" [src]="'/assets/Runescape ability icons/' + 'Wrack' + '.png'"
          alt="" style="height: 60px; width: 60px; align-self: center;" width="60" height="60">
      </div>
    </div>

    <div class="rotation-preview" style="display: flex; justify-content: space-between;">
      <div>
        <button (click)="this.createNew()" style="display: flex; align-items: center">
          <mat-icon>add</mat-icon> New rotation
        </button>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <mat-icon *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="add-icon">question_mark</mat-icon>
      </div>
    </div>

  </div>
</section>
