:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .results-container {
    width: 300px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.fw-500 {
  font-weight: 500;
}
