<main>
  <div class="btn-container">
    <button (click)="loadRotation()">Load known rotation</button>
    <button (click)="this.game.startGameLoop()">Start the game loop</button>
    <button (click)="this.game.stopGameLoop()">Stop the game loop</button>
    <button (click)="showRotationBuilder = !showRotationBuilder">
      {{ showRotationBuilder ? 'Hide' : 'Show' }} rotation builder
    </button>
  </div>

  <app-time-visualizer [value]="percentage"></app-time-visualizer>

  <app-rotation-builder *ngIf="showRotationBuilder"></app-rotation-builder>

  <div class="rotation-container">
    <app-rotation *ngIf="!showRotationBuilder"></app-rotation>
  </div>

  <div class="tick-container">
    <app-actual-tick *ngFor="let tick of this.game.ticks$() | async" [tick]="tick"></app-actual-tick>
  </div>
</main>
