$bar: #c7c7c7;
$bar-background: #6b6b6b;
$tick-length: 0.6s;

.svg {
  transform: rotate(-90deg);
  margin: auto;

  circle {
    transition: stroke-dashoffset 0.01 linear;
    stroke-width: 1.5em;
    stroke: $bar;
  }

  #bar-bg {
    stroke-dashoffset: 0;
  }

  #bar {
    stroke: $bar-background;
  }
}
