.app-actual-tick {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  padding: 5px;
  min-height: 40px;
  min-width: 40px;
}

kbd.kbc-button:not(:last-child) {
  margin-right: 12px;
}
