.rotation {
  max-width: 350px;

}

kbd.kbc-button {

  &:not(:last-child) {
    margin-right: 12px;
  }

}

.rotation-tick {
  border: 1px solid #000;
  padding-bottom: 3px;

  padding-left: 10px;
  padding-right: 10px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
