:host {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

app-input-tracker-tick {
  justify-self: stretch;
  transition: all 0.6s ease-out;
  height: 100px;

  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 10px 19px 0 rgba(90, 116, 148, 0.4);
  border-radius: 10px;
}

app-input-tracker-tick[context="CURRENT"] {
  border: 1px solid #cfcfcf;
  grid-column-start: 4;
}

app-input-tracker-tick[context="UPCOMING"] {
  grid-column-start: 5;
}

// We only want the first upcoming tick to start at 5, the others should flow after it
app-input-tracker-tick[context="UPCOMING"]~app-input-tracker-tick[context="UPCOMING"] {
  grid-column-start: unset;
}
